{% if site.data.formations %}
<section class="section formations-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Additional training</h2>

  {% if site.data.formations.intro %}
  <div class="intro">
      <p>{{ site.data.formations.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for formation in site.data.formations.formations %}
    <div class="item">

      <span class="formation-title"><a href="{{ formation.link }}">{{ formation.title }}</a></span>

      {% if formation.tagline %}
      - <span class="formation-tagline">{{ formation.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
